// Imports
@import url('https://fonts.googleapis.com/css?family=Roboto');

// Variables
$background: #333;
$color: whitesmoke;
$font: 'Roboto', Arial, Helvetica, sans-serif;

// Core styles
#App {
  background-color: $background;
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: $font;
  color: $color;
  input {
    border-radius: 50px;
    outline: 0;
    border: 0;
    padding: 0.2em 1.25em;
    text-align: center;
    color: $background;
    font-family: $font;
    font-weight: bold;
    &::placeholder {
      color: $background;
      font-family: $font;
      font-weight: bold;
    }
  }
}
